---
import { getCollection } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Header from "@/components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="zh-Hans">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <div class="prose">
        <section>
          <ul class="space-y-10">
            {
              posts.map((post) => (
                <li>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <a href={`/posts/${post.slug}/`}>
                    <h4 class="title">{post.data.title}</h4>
                  </a>
                  <p class="description">
                    {post.data.description ?? ""}
                  </p>
                </li>
              ))
            }
          </ul>
        </section>
      </div>
		</main>
		<Footer />
	</body>
</html>

<style>
  main {
    width: calc(100% - 2em);
    max-width: 100%;
    margin: 0;
  }

  .prose {
    max-width: 65ch;
    margin: auto;
    padding: 1em;
  }

  ul {
    list-style-type: none;
  }

  .date {
    @apply text-sm text-muted-foreground !important;
  }

  .title {
    @apply mt-0 no-underline !important;
  }

  .description {
    @apply mt-2 line-clamp-2 text-base text-muted-foreground !important;
  }
</style>
