---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import "../../node_modules/katex/dist/katex.min.css";
import Giscus from "@/components/Giscus.astro";
import { Badge } from "@/components/ui/badge";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, draft, pubDate, updatedDate, categories, tags } =
  Astro.props;
---

<BaseLayout title={title} description={description}>
  <article data-pagefind-body>
    <div class="prose">
      <div class="title">
        <h1 data-pagefind-meta="title">{title}</h1>
        <div class="text-muted-foreground text-sm mb-1">
          <FormattedDate date={pubDate} data-pagefind-meta="date" />
          {
            updatedDate && (
              <>
                · Last updated on <FormattedDate date={updatedDate} />
              </>
            )
          }
        </div>
        {draft && <Badge>DRAFT</Badge>}
        {
          categories?.map(category => (
            <>
              <Badge variant="secondary" data-pagefind-filter="category">{category}</Badge>
            </>
          ))
        }
        {
          tags?.map(tag => (
            <>
              <Badge variant="outline" data-pagefind-filter="tag">#{tag}</Badge>
            </>
          ))
        }
      </div>
      <slot />
      <Giscus />
    </div>
  </article>
</BaseLayout>

<style>
  .prose h1 {
    @apply mt-0 mb-4 leading-none;

    font-size: 2.25em;
  }
</style>
