---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import "../../node_modules/katex/dist/katex.min.css";
import Giscus from "@/components/Giscus.astro";
import { Badge } from "@/components/ui/badge";
import { SITE_TITLE } from "@/consts";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, draft, pubDate, updatedDate } = Astro.props;
---

<BaseLayout title={`${title} | ${SITE_TITLE}`} description={description}>
  <article data-pagefind-body>
    <div class="prose">
      <div class="title">
        <h1 data-pagefind-meta="title">{title}</h1>
        <div class="date">
          <FormattedDate date={pubDate} data-pagefind-meta="date" />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        {draft && <Badge>DRAFT</Badge>}
      </div>
      <slot />
      <Giscus />
    </div>
  </article>
</BaseLayout>

<style>
  .prose {
    @apply m-auto p-4;

    max-width: 65ch;
  }

  .prose h1 {
    @apply mt-0 mb-4 leading-none;

    font-size: 2.25em;
  }
</style>
